img {
    vertical-align: middle;
  }
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: red;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover,
  .next:hover {
    background-color: rgb(0, 0, 0, 0.8);
  }

  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .dot {
    display: inline-block;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: #999;
    cursor: pointer;
  }
  .dot:hover {
    background-color: #555;
  }
  .dot.active {
    background-color: #555;
  }